---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import Manifesto from '../components/Manifesto.astro';
import Capabilities from '../components/Capabilities.astro';
import WordScroll from '../components/WordScroll.astro';
import Products from '../components/Products.astro';
import SpiralSection from '../components/SpiralSection.astro';
import FooterCTA from '../components/FooterCTA.astro';
---

<Layout>
  <Navbar />
  <main id="main-content" class="w-full bg-bg text-white">
    <HeroSection />
    <Manifesto />
    <Capabilities />
    <WordScroll />
    <Products />
    <SpiralSection />
    <FooterCTA />
  </main>
</Layout>
