---
import Layout from '../layouts/Layout.astro';
import SpaceExperience from '../components/three/SpaceExperience.astro';
---

<Layout>
  <main id="main-content" class="w-full bg-bg text-white min-h-screen">
    <SpaceExperience />
  </main>
</Layout>
